.AxiosButton {
	background: linear-gradient(0deg, hsl(200, 70%, 18%), hsl(200, 70%, 22%));
	border: 1.5px solid hsl(200, 70%, 30%);
	border-top: 1.5px solid hsl(200, 70%, 60%);
	border-radius: 25px;

	max-width: 200px;
	padding: 20px;

	font-size: 30px;
	font-weight: 500;
	color: hsl(0, 0%, 95%);

	cursor: pointer;
	transition: all 0.17s ease-out;
}
.AxiosButton:hover {
	transform: scale(1.15);
	background: linear-gradient(0deg, hsl(200, 70%, 23%), hsl(200, 70%, 27%));
	border: 1.5px solid hsl(200, 70%, 45%);
	border-top: 1.5px solid hsl(200, 70%, 75%);
}
