.Header {
	background-color: hsl(0, 0%, 5%);
	border-bottom: 1.5px solid hsl(0, 0%, 30%);

	min-height: 100px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.Header-menu {
	color: hsl(0, 0%, 70%);
	background: none;
	border: none;
	font-size: 45px;
	font-weight: 200;
	cursor: pointer;
	transition: all 0.17s ease-out;
}
.Header-menu:hover {
	transform: scale(1.15);
}
.Header-menu.active {
	color: hsl(0, 0%, 95%);
	font-weight: 500;
	font-size: 55px;
}
