.Header {
	background-color: hsl(0, 0%, 5%);
	border-bottom: 1.5px solid hsl(0, 0%, 30%);

	min-height: 10vh;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.Header-menu {
	color: hsl(0, 0%, 95%);
	background: none;
	border: none;
	font-size: 55px;
	font-weight: 600;
	transition: all 0.17s ease-out;
}
.Header-menu:hover {
	transform: scale(1.15);
	font-weight: 700;
}
