.Items {
	background-color: hsl(0, 0%, 5%);
	border: 1.5px solid hsl(0, 0%, 30%);
	border-radius: 25px;

	max-width: 1200px;
	padding: 25px;

	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
