.ItemForm {
	background: linear-gradient(0deg, hsl(0, 0%, 8%), hsl(0, 0%, 12%));
	border: 1.5px solid hsl(0, 0%, 30%);
	border-top: 1.5px solid hsl(0, 0%, 60%);
	border-radius: 25px;

	padding: 25px;

	text-align: center;

	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	justify-content: center;
}

.ItemForm-nameinput {
	background: linear-gradient(0deg, hsl(0, 0%, 7%), hsl(0, 0%, 3%));
	min-width: 300px;
	min-height: 50px;
	text-align: center;
	font-size: 25px;
	border: 1.5px solid hsl(0, 0%, 30%);
	border-bottom: 1.5px solid hsl(0, 0%, 60%);
	border-radius: 10px;
}

.ItemForm-priceinput {
	background: linear-gradient(0deg, hsl(0, 0%, 7%), hsl(0, 0%, 3%));
	min-width: 300px;
	min-height: 50px;
	text-align: center;
	font-size: 25px;
	border: 1.5px solid hsl(0, 0%, 30%);
	border-bottom: 1.5px solid hsl(0, 0%, 60%);
	border-radius: 10px;
}

.ItemForm-button {
	background: linear-gradient(0deg, hsl(250, 70%, 18%), hsl(250, 70%, 22%));
	border: 1.5px solid hsl(250, 70%, 30%);
	border-top: 1.5px solid hsl(250, 70%, 60%);
	border-radius: 25px;

	max-width: 200px;
	padding: 15px;

	font-size: 22px;
	font-weight: 500;
	color: hsl(0, 0%, 95%);

	cursor: pointer;
	transition: all 0.17s ease-out;
}
.ItemForm-button:hover {
	transform: scale(1.15);
	background: linear-gradient(0deg, hsl(250, 70%, 23%), hsl(250, 70%, 27%));
	border: 1.5px solid hsl(250, 70%, 45%);
	border-top: 1.5px solid hsl(250, 70%, 75%);
}
