.App {
	background-color: hsl(0, 0%, 0%);
	min-height: 100vh;
}

.App-article{
	min-height: 88vh;
    padding: 50px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
